<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>오옹!</p>
    <a href = "/led">LED joygo~</a>
    <iframe width="1424" height="546" src="https://www.youtube.com/embed/xn7Ult35DgI?autoplay=1&mute=1" title="케인 + 타지리 (도네허용)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</body>
</html>